<template>
    <el-aside class="sidebar">
        <el-menu class="sidebar-menu" style="min-width: 240px;" :router="true" :default-active="$route.path">
            <el-menu-item index="1" route="/dashboard" class="first">
                <i class="el-icon-s-marketing" /> Dashboard
            </el-menu-item>
            <el-menu-item index="Farm" route="/farm">
                <i class="el-icon-box" /> Farming
            </el-menu-item>
            <el-menu-item index="2" route="/wallet">
                <i class="el-icon-wallet" /> Wallet
            </el-menu-item>
            <el-menu-item
                :class="{ 'selected': needUpdate }"
                index="3"
                :disabled="!needUpdate"
                @click="updateVersion"
            >
                <i class="el-icon-download icon" />
                {{ updateText }}
            </el-menu-item>            
            <el-menu-item index="4" @click="logout()">
                <i class="el-icon-user" /> Logout
            </el-menu-item>
            <el-menu-item class="sidebar-version">
                    version: {{ currentVersion }}
            </el-menu-item>
        </el-menu>
    </el-aside>
</template>

<script>
// loading component
import { ElLoading } from "element-plus";
import { mapState } from 'vuex';
import packageSrc from '../../../../package.json';

export default {
    name: "sidebar",
    computed: {
        ...mapState('user', [
            'newVersion'
        ]),
        currentVersion () {
            return packageSrc.version;
        },
        needUpdate () {
            const { currentVersion, newVersion } = this;
            return currentVersion !== newVersion;
        },
        updateText () {
            const {
                newVersion,
                currentVersion,
                needUpdate
            } = this;

            return needUpdate
                ? `Update client to: ${newVersion}`
                : `Client version: ${currentVersion}`;
        }
    },
    methods: {
        async logout () {
            ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            try {
                await this.axios.get('/logout');
                window.location.reload();
            } catch(e) {
                window.location.reload();
            }
        },
        updateVersion () {
            ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            this.axios.get('/client/update')
                .then(() => {
                    setTimeout(() => {
                        window.location.reload();
                    }, 5000);
                })
                .catch(error => {
                    console.error(error);
                });
        }
    },
}
</script>

<style lang="scss" scoped>

    $selectedColor: #67C23A;

    .selected {
        color: $selectedColor;
        background-color: rgba($selectedColor, 0.2);

        & .icon {
            color: $selectedColor;
        }
    }

</style>
