<template>
    <el-container direction="vertical">
        <el-row :gutter="20">

            <el-col :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Total Network Space
                    </template>
                    <div class="description">
                        {{poolNetSpace}}
                    </div>
                </el-card>
            </el-col>

            <el-col :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Total Size of Plots
                    </template>
                    <div class="description">
                        {{userNetSpace}}
                    </div>
                </el-card>
            </el-col>

            <el-col :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        My Balance
                    </template>
                    <div class="description">
                        {{userBalance}}
                    </div>
                </el-card>
            </el-col>

            <el-col :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Pending Withdrawals
                    </template>
                    <div class="description">
                        {{pendingWithdrawalTotal}}
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
                <plots-time-chart />
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col>
                <proof-table />
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col>
                <proofs-chart />
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
// components
import plotsTimeChart from "../components/dashboard/plotsTimeChart";
import proofsChart from "../components/dashboard/proofsChart";
import proofTable from "../components/dashboard/proofTable";
// utils
import iecMetricsMixin from '../mixins/iec-metrics';

export default {
    name: "Dashboard",
    data() {
        return {
            poolNetSpace: '0 GiB',
            userNetSpace: '0 GiB',
        }
    },
    mixins: [
        iecMetricsMixin
    ],
    computed: {
        userBalance() {
            return (+this.$store.state.user.userBalance).toFixed(16);
        },
        pendingWithdrawalTotal() {
            return this.$store.state.user.pendingWithdrawals
                .reduce((res, item) => {
                    return res + (+item.amount) + (+item.fee);
                }, 0);
        }
    },
    methods: {
        async getInfo() {
            // получаем статистику о пуле
            try {
                let poolstat = await this.axios.get('/user/volume');
                if (poolstat.data.success) {
                    this.poolNetSpace = this.getIecValue(+poolstat.data.answer.pool).toString()
                    this.userNetSpace = this.getIecValue(+poolstat.data.answer.user).toString();
                } else {
                    console.error('some error has occured');
                }
            } catch(e) {
                console.log(e);
            }
            // получаем баланс пользователя
            try {
                let balance = await this.axios.get('/user/balance');
                if (balance.data.success) {
                    this.$store.commit('user/setBalance', balance.data.answer.amount);
                } else {
                    console.error('some error has occured');
                }
            } catch(e) {
                console.log(e)
            }
            // получаем ожидаемые выплаты
            try {
                let resp = await this.axios.get('/user/pending-withdrawals')
                if (resp.data.success) {
                    this.$store.commit('user/setPendingWithdrawals', resp.data.answer);
                } else {
                    console.error('some error has occured');
                }
            } catch(e) {
                console.error(e);
            }
        },
    },
    async mounted() {
        await this.getInfo();
    },
    components: {
        plotsTimeChart,
        proofsChart,
        proofTable
    }
}
</script>
