<template>
    <div class="farm">
        <div class="farm-table">
            <div>Your Farm Overview</div>
            <el-table :data="plots">
                <el-table-column prop="index" label="index" width="65"/>
                <el-table-column prop="kSize" label="K-size" width="150"/>
                <el-table-column prop="filename" label="File Name" />
                <el-table-column prop="plotSize" label="File Size" width="150"/>
            </el-table>
        </div>
        <div class="bad-plots">
            <div>Invalid plots</div>
            <el-table :data="badPlots">
                <el-table-column prop="path" label="Path to plots"/>
            </el-table>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

import ElTable from 'element-plus/lib/el-table';
import ElTableColumn from 'element-plus/lib/el-table-column';

import iecMetricsMixin from '../mixins/iec-metrics';

export default {
    name: "Farm",
    components: {
        ElTable,
        ElTableColumn
    },
    mixins: [
        iecMetricsMixin
    ],
    data () {
        return {
            plots: [],
            badPlots: [],
        }
    },
    computed: {
        token() {
            return this.$store.state.user.token;
        }
    },
    methods: {
        async getFarmData() {
            axios({
                method: 'get',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/harvester/farm',
                data: {
                    token: this.token
                }
            })
            .then(resp => {
                if(resp.data.success) {
                    this.plots = resp.data.answer.plots.map((item, idx) => {
                        return {
                            index: idx + 1,
                            plotSize: this.getIecValue(item.fileSize),
                            filename: item.filename,
                            kSize: item.size,
                        }
                    })
                    this.badPlots = resp.data.answer.badPlots.map(item => {
                        return {path: item}
                    });
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    async mounted() {
        await this.getFarmData();
    }
}
</script>

<style lang="scss" scoped>
.farm {
    display: flex;
    flex-direction: column;
    height: 100%;
    .create-button {
        margin-left: auto;
    }
    .farm-table, .bad-plots {
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        max-height: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 3px;
        background: $white;
    }
    .bad-plots {
        height: 30%;
    }
}
</style>
