<template>
    <div class="wallet-wrapper">
        <el-input placeholder="Chia Address To Withdraw amount" v-model="xchAddress">
            <template #prepend>XCH address to withdraw</template>
        </el-input>

        <el-input v-model="amount" style="margin-top: 20px;">
            <template #prepend>Amount to withdraw</template>
            <template #append>
                <el-button @click="onClickAll">All</el-button>
            </template>
        </el-input>

        <div style="margin-top: 20px; display: flex; flex-direction: row-reverse;">
            <el-button @click="onClickWithdraw" icon="el-icon-upload2">Withdraw</el-button>
        </div>

        <el-dialog
            title="Withdraw configrmation"
            v-model="showConfirmation"
            width="30%"
            center
        >
            <span>Type your password to confirm your withdraw:</span>
            <el-input placeholder="Type your password" v-model="password" type="password">
            </el-input>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="onClickCancelWithdraw">Cancel</el-button>
                    <el-button type="primary" @click="onClickOkWithdraw">Confirm</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script>
import ElInput from "element-plus/lib/el-input";
import ElButton from "element-plus/lib/el-button";
import ElDialog from 'element-plus/lib/el-dialog';
import axios from "axios";
import ElLoading from "element-plus/lib/el-loading";

import ElNotification from "element-plus/lib/el-notification";

export default {
    name: "Wallet",
    components: {
        ElInput,
        ElButton,
        ElDialog
    },
    data() {
        return {
            xchAddress: "",
            amount: 0,
            showConfirmation: false,
            password: ""
        }
    },
    computed: {
        userBalance() {
            return (+this.$store.state.user.userBalance).toFixed(16);
        }
    },
    methods: {
        onClickAll() {
            this.amount = +(+this.userBalance).toFixed(10);
        },
        onClickWithdraw() {
            this.showConfirmation = true;
            this.password = "";
        },
        onClickCancelWithdraw() {
            this.showConfirmation = false;
        },
        async onClickOkWithdraw() {
            let loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            await axios({
                method: 'post',
                baseURL: `${window.location.protocol}//${window.location.hostname}:4400`,
                url: '/user/make-withdraw',
                data: {
                    amount: this.amount,
                    xchAddress: this.xchAddress,
                    password: this.password,
                    timestamp: Date.now()
                }
            })
                .then(resp => {
                    if (resp.data.success) {
                        console.log(resp.data.answer);

                        this.showConfirmation = false;
                        this.amount = 0;
                        this.xchAddress = "";
                        this.password = "";

                        this.$store.commit('user/setBalance', resp.data.answer.userBalance);

                        ElNotification.success({
                            title: 'Success',
                            message: 'Withdraw has been successfully created and will be processed in 4 hours',
                            type: 'success'
                        });
                    } else {
                        ElNotification.error({
                            title: "Error",
                            message: resp.data.answer.error || resp.data.answer
                        });
                    }
                })
                .catch(error => {
                    console.log(error)
                });

            loading.close();
        }
    },
    async mounted() {
        try {
            let balance = await this.axios.get('/user/balance')
            if (balance.data.success) {
                this.$store.commit('user/setBalance', balance.data.answer.userBalance);
            } else {
                console.error('some error has occured');
            }
        } catch(e) {
            console.error(e);
        }
    }
}
</script>

<style lang="scss" scoped>
.wallet-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .row {
        margin-bottom: 20px;
        display: flex;
    }
}
</style>
