$versionHeight: 48px;

.authorized-wrapper {
    height: 100%;

    .sidebar {
        height: 100%;
    }

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .sidebar-version {
        cursor: default;
        margin-top: auto;
        font-size: 13px;
        &:hover {
            background: none;
        }
    }

    .el-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border;
    }
}
