.input {
    .el-input__inner {
        border-radius: 3px;
        border: 1px solid $green;
    }
    &.center {
        .el-input__inner {
            text-align: center;
        }
    }
    &.error {
        .el-input__inner {
            border: 1px solid $red;
        }
    }
}

.mt-20 {
    margin-top: 20px;
}