<template>
    <el-card>
        <template #header>
            Last Attempted Proof
        </template>
        <el-table :data="tableData">
            <el-table-column label="Plots Passed Filter" align="center" header-align="center">
                <template #default="scope">
                    {{ scope.row.passedFilter }} / {{ scope.row.total }}
                </template>
            </el-table-column>
            <el-table-column prop="proofs" label="Proofs Found" align="center" header-align="center"/>
            <el-table-column label="Date" width="150"  align="center" header-align="center">
                <template #default="scope">
                    {{ moment(scope.row.timestamp).format('MMM D, H:mm:ss A')}}
                </template>
            </el-table-column>
        </el-table>
    </el-card>
</template>

<script>
// utils
import moment from "moment";
import socket from "../../sockets";

export default {
    name: "proofTable",
    data() {
        return {
            tableData: []
        }
    },
    computed: {
        moment() {
            return moment
        }
    },
    methods: {
        async getTableData() {
            try {
                let resp = await this.axios.get('/harvester/get-telemetry-history');
                if (resp.data.success) {
                    this.setTableData(resp.data.answer.history);
                }
            } catch(e) {
                console.error(e);
            }
        },
        setTableData(payload) {
            this.tableData = payload;
        }
    },
    mounted() {
        this.getTableData();
        socket.on('harvester-telemetry', payload => {
            this.setTableData(payload.filter);
        })
    },
    unmounted() {
        socket.off('harvester-telemetry')
    }
}
</script>

<style scoped>

</style>