<template>
    <el-card>
        <template #header class="card-header">
            Proofs Found
        </template>
        <vue3-chart-js
            class="proof-chart"
            ref="proofChart"
            :id="lineChart.id"
            :type="lineChart.type"
            :data="lineChart.data"
            :options="lineChart.options"/>
    </el-card>

</template>

<script>
// components
import Vue3ChartJs from '@j-t-mcc/vue3-chartjs';
// utils
import { ref } from 'vue';
import socket from '../../sockets';
import moment from 'moment';

moment.locale('en');

export default {
    name: "proofsChart",
    setup () {
        const proofChart = ref(null);
        
        const lineChart = {
            id: 'plotsTimeChart',
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'plots check time',
                    data: [],
                    borderColor: '#409EFF',
                    borderWidth: 2,
                    pointBackgroundColor: '#FFFFFF',
                    pointBorderColor: '#409EFF',
                    pointBorderWidth: 2,
                    pointRadius: 0
                }],
            },
            options: {
                animation: false,
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: false,
                        displayColors: false,
                        callbacks: {
                            title: function(value) {
                                return moment(Number(value[0].label)).format('HH:mm:ss');
                            },
                            label: function(value) {
                                return `${value.formattedValue} s`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 10,
                            callback: function(value) {
                                return getXlabel(value);
                            }
                        }
                    },
                    y: {
                        min: 0,
                    }
                }
            }
        }
        
        let socketData = [];
        
        const updateChart = (payload) => {
            socketData = payload.reverse();
            lineChart.data.labels = socketData.map(item => item.timestamp);
            lineChart.data.datasets = [{
                data: socketData.map(item => item.proofs),
                borderColor: '#409EFF',
                borderWidth: 2,
                pointBackgroundColor: '#FFFFFF',
                pointBorderColor: '#409EFF',
                pointBorderWidth: 0,
                pointRadius: 0,
            }]
    
            proofChart.value.update(250);
        }
        
        const getXlabel = (index) => {
            return moment(socketData[index].timestamp).format('HH:mm:ss')
        }
        
        return {
            proofChart,
            lineChart,
            socketData,
            updateChart
        }
    },
    mounted() {
        socket.on('harvester-telemetry', payload => {
            this.updateChart(payload.proofs);
        })
    },
    unmounted() {
        socket.off('harvester-telemetry');
    },
    components: {
        Vue3ChartJs
    }
}
</script>

<style lang="scss">
.el-card {
    .el-card__header{
        min-height: unset;
    }
}
.proof-chart {
    width: 100%;
    height: 250px;
}
</style>
