<template>
    <div class="connection-btn">
        <el-badge
            is-dot
            :type="qualityStatus"
        >
            <el-button
                class="connection-btn__btn"
                size="small"
                :loading="loading"
            >
                {{ text }}
            </el-button>
        </el-badge>
    </div>
</template>

<script>

import socket from "../../sockets";

const timeoutDelay = 1000 * 60 * 2; // 2 минуты
let timeout = null;

export default {
    name: 'ConnectionBtn',
    data () {
        return {
            loading: true,
            ping: null,
            quality: null,
            status: null
        }
    },
    computed: {
        qualityStatus () {
            const { quality, status } = this;

            if (!status) {
                return 'info';
            }

            let statusType = 'info';

            switch (quality) {
                case 'perfect':
                    statusType = 'success';
                    break;
                case 'good':
                    statusType = 'warning';
                    break;
                case 'bad':
                    statusType = 'danger';
                    break;
            }

            return statusType;
        },
        text () {
            const { status, ping } = this;

            return status ? `Online (ping: ${ping} s)` : 'Offline';
        }
    },
    mounted () {
        socket.on('harvester-connection', payload => {
            this.setConnectionData(payload);
            if (timeout) {
                clearTimeout(timeout);
            }
            timeout = setTimeout(() => {
                this.setOffline();
            }, timeoutDelay);
        });
    },
    unmounted () {
        socket.off('harvester-connection');
    },
    methods: {
        setConnectionData (data) {
            const { ping, connection } = data;

            this.ping = ping;
            this.quality = connection;
            this.status = true;
            this.loading = false;
        },
        setOffline () {
            this.ping = null;
            this.quality = null;
            this.status = null;
            clearTimeout(timeout);
        }
    }
}

</script>

<style lang="scss" scoped>

    .connection-btn {

        &__btn {
            min-width: 160px;
            pointer-events: none;
        }
    }

</style>
