<template>
    <div class="connection-btn">
        <el-badge
            is-dot
            :type="qualityStatus"
        >
            <el-button
                class="connection-btn__btn"
                size="small"
                :loading="loading"
            >
                {{ text }}
            </el-button>
        </el-badge>
    </div>
</template>

<script>

import socket from "../../sockets";

export default {
    name: 'PlotsTimeBtn',
    data () {
        return {
            loading: true,
            time: null,
            quality: null,
            status: null
        }
    },
    computed: {
        qualityStatus () {
            const { quality, status } = this;

            if (!status) {
                return 'info';
            }

            let statusType = 'info';

            switch (quality) {
                case 'perfect':
                    statusType = 'success';
                    break;
                case 'good':
                    statusType = 'warning';
                    break;
                case 'bad':
                    statusType = 'danger';
                    break;
            }

            return statusType;
        },
        text () {
            const { status, ping } = this;

            return status ? `Plots check time  ${ping} s`: '';
        }
    },
    mounted () {
        socket.on('harvester-connection', payload => {
            this.setConnectionData(payload);
        });
    },
    methods: {
        setConnectionData (data) {
            const { ping, connection } = data;

            this.ping = ping;
            this.quality = connection;
            this.status = true;
            this.loading = false;
        },
    }
}

</script>

<style lang="scss" scoped>

    .connection-btn {

        &__btn {
            margin-left: 20px;
            min-width: 160px;
            pointer-events: none;
        }
    }

</style>
