<template>
    <el-container class="authorized-wrapper">
        <sidebar />
        <el-container>
            <el-header v-if="showHeader">
                <ConnectionBtn />
<!--                <PlotsTimeBtn />-->
            </el-header>
            <el-main>
                <router-view v-slot="{Component}">
                    <transition name="el-fade-in" mode="out-in">
                        <component :is="Component" />
                    </transition>
                </router-view>
            </el-main>
        </el-container>
    </el-container>
</template>

<script>
import sidebar from '../components/layout/sidebar/sidebar';
import ConnectionBtn from '../components/elements/ConnectionBtn';
// import PlotsTimeBtn from '../components/elements/PlotsTimeBtn';

export default {
    name: 'AuthorizedLayout',
    computed: {
        showHeader() {
            return this.$store.getters['user/isPathStatus'];
        }
    },
    components: {
        sidebar,
        ConnectionBtn,
        // PlotsTimeBtn,
    }
}

</script>
